<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSEMentorLearningApp"
        tools:targetApi="31">
        <activity
            android:name=".chapter.seven.ATM"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.ApplicationLayer"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.NetworkSecurity"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.CongestionControlandQOS"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.TransportLayer"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.IPAddress"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.NetworkLayerDesignIssues"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.NetworkLayer"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.DataLinkLayer"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.IntroductionToComputerNetwork"
            android:exported="false" />
        <activity
            android:name=".chapter.seven.ReferredBookCNN"
            android:exported="false" />
        <activity
            android:name=".chapter.six.AVLTree"
            android:exported="false" />
        <activity
            android:name=".chapter.six.KMPAlgorithm"
            android:exported="false" />
        <activity
            android:name=".chapter.six.NetworkFlow"
            android:exported="false" />
        <activity
            android:name=".chapter.six.RMQTechniques"
            android:exported="false" />
        <activity
            android:name=".chapter.six.BinaryIndexedTree"
            android:exported="false" />
        <activity
            android:name=".chapter.six.SquareRootDecomposition"
            android:exported="false" />
        <activity
            android:name=".chapter.six.SegmentTree"
            android:exported="false" />
        <activity
            android:name=".chapter.six.ArticulationPointBridgeBiconnectedComponents"
            android:exported="false" />
        <activity
            android:name=".chapter.six.ArticulationPoint"
            android:exported="false" />
        <activity
            android:name=".chapter.six.ReferredBookAlgo2"
            android:exported="false" />
        <activity
            android:name=".chapter.six.SparseTable"
            android:exported="false" />
        <activity
            android:name=".chapter.five.MultifilePrograms"
            android:exported="false" />
        <activity
            android:name=".chapter.five.StreamsAndFiles"
            android:exported="false" />
        <activity
            android:name=".chapter.five.VirtualFunctions"
            android:exported="false" />
        <activity
            android:name=".chapter.five.Structures"
            android:exported="false" />
        <activity
            android:name=".chapter.five.Pointers"
            android:exported="false" />
        <activity
            android:name=".chapter.five.OperatorOverloading"
            android:exported="false" />
        <activity
            android:name=".chapter.five.Inheritance"
            android:exported="false" />
        <activity
            android:name=".chapter.five.ObjectsAndClasses"
            android:exported="false" />
        <activity
            android:name=".chapter.five.ArraysAndStrings"
            android:exported="false" />
        <activity
            android:name=".chapter.five.Functions"
            android:exported="false" />
        <activity
            android:name=".chapter.five.LoopsAndDecisions"
            android:exported="false" />
        <activity
            android:name=".chapter.five.ReferredBook2"
            android:exported="false" />
        <activity
            android:name=".chapter.five.ReferredBook1"
            android:exported="false" />
        <activity
            android:name=".chapter.four.DataTypesVariablesAndOperators"
            android:exported="false" />
        <activity
            android:name=".chapter.four.DynamicMemoryAllocation"
            android:exported="false" />
        <activity
            android:name=".chapter.four.StructuresAndUnions"
            android:exported="false" />
        <activity
            android:name=".chapter.four.FileHandlingInC"
            android:exported="false" />
        <activity
            android:name=".chapter.four.PointersAndArrays"
            android:exported="false" />
        <activity
            android:name=".chapter.four.FunctionsInC"
            android:exported="false" />
        <activity
            android:name=".chapter.four.ControlFlow"
            android:exported="false" />
        <activity
            android:name=".chapter.four.VariablesAndOperators"
            android:exported="false" />
        <activity
            android:name=".chapter.four.DataTypes"
            android:exported="false" />
        <activity
            android:name=".chapter.four.ReferredBookC"
            android:exported="false" />
        <activity
            android:name=".ContributorsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.code.ChapterAdapter"
            android:exported="false" />
        <activity
            android:name=".ui.code.ChapterActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ui.code.VideoListActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".chapter.one.ReferredBookDS"
            android:exported="false" />
        <activity
            android:name=".chapter.two.ReferredBook"
            android:exported="false" />
        <activity
            android:name=".chapter.two.SelectionSort"
            android:exported="false" />
        <activity
            android:name=".chapter.two.MergeSort"
            android:exported="false" />
        <activity
            android:name=".chapter.two.HeapSort"
            android:exported="false" />
        <activity
            android:name=".chapter.two.MCM"
            android:exported="false" />
        <activity
            android:name=".chapter.two.MSTKruskal"
            android:exported="false" />
        <activity
            android:name=".chapter.two.MSTPrims"
            android:exported="false" />
        <activity
            android:name=".chapter.two.Dijkstra"
            android:exported="false" />
        <activity
            android:name=".chapter.two.FractionalKnapsackHuffmanCode"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".chapter.two.CoinChange" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".chapter.two.ActivitySelectionProblem"
            android:exported="false" />
        <activity
            android:name=".chapter.two.ElementsofDP"
            android:exported="false" />
        <activity
            android:name=".chapter.two.SCC"
            android:exported="false" />
        <activity
            android:name=".chapter.two.TopologicalSort"
            android:exported="false" />
        <activity
            android:name=".chapter.two.DFS"
            android:exported="false" />
        <activity
            android:name=".chapter.two.BFS"
            android:exported="false" />
        <activity
            android:name=".chapter.one.ArrayOperations"
            android:exported="false" />
        <activity
            android:name=".chapter.one.StringProcessing"
            android:exported="false" />
        <activity
            android:name=".chapter.one.BasicTerminologies"
            android:exported="false" />
        <activity
            android:name=".leaderboard.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.StartQuiz"
            android:exported="false" />
        <activity
            android:name=".ui.code.CodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.code.CodeCategory"
            android:exported="false" />
        <activity
            android:name=".chapter.three.HtmlAndNewElements"
            android:exported="false" />
        <activity
            android:name=".chapter.three.MultimediaInHtml"
            android:exported="false" />
        <activity
            android:name=".chapter.three.WorkingWithForms"
            android:exported="false" />
        <activity
            android:name=".chapter.three.HtmlElementsAndAttributes"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".chapter.two.NpCompleteness" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".chapter.two.SortingAndSearchingAlgorithms" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".chapter.two.GraphAlgorithms" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".chapter.two.GreedyAlgorithms"
            android:exported="false" />
        <activity
            android:name=".chapter.two.DynamicProgramming"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".chapter.two.DivideAndConquer" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".chapter.five.IntroductionToCpp"
            android:exported="false" />
        <activity
            android:name=".chapter.four.IntroductionToCProgramming"
            android:exported="false" />
        <activity
            android:name=".chapter.three.IntroductionToHtml"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".chapter.two.IntroductionToAlgorithms" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".chapter.one.AdvancedDataStructures" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".chapter.one.SortingAlgorithms"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".chapter.one.HeapsAndPriorityQueues" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".chapter.one.Hashing" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".chapter.one.Graphs"
            android:exported="false" />
        <activity
            android:name=".chapter.one.AVLTree"
            android:exported="false" />
        <activity
            android:name=".chapter.one.StacksAndQueuesRecursion"
            android:exported="false" />
        <activity
            android:name=".chapter.one.LinkedLists"
            android:exported="false" />
        <activity
            android:name=".chapter.one.IntroductionToDataStructure"
            android:exported="false" />
        <activity
            android:name=".chaptertopics.TopicActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.CSEMentorLearningApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.CSEMentorLearningApp.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>